body{
    background-color: black;
    color: white;
}

a{
    color: white;
}
.menu>ul>li{
    display: inline;
    list-style-type:none;
}

.menu{
  word-spacing: 50px;
  font-weight: bold;
}

a:link{
    text-decoration: none;
    text-transform;
}

a:hover {
    color: red;
    text-decoration: none;
}



  h1{
    text-align: center;
    font-weight: bold;
  }
  
  img{
    height: 100px;
    width: auto;
  }

.tarolo{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    list-style: none;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    }

.kepek{
  text-align: center
}

.dobozok{
  border-right: 2px solid red;
  padding: 5px;
}

#dobozokIIcim{
  font-weight: bold;
  text-align: left;
}

.dobozokII{
  text-align: left;
  padding-left: 50px;
}

#dobozokIIkep{
  float: right;
  width: 500px;
  height: auto;
}